<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="/application.css">
</head>
<body>
  <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.js'></script>

  <form id="userForm">
    <input type="text" placeholder="Enter Github Username" id="username">
    <input type="submit" value="Load User">
  </form>

  <div class="rate_limit"></div>
  <div class="profile-container"><img src='spinner.gif' class='spinner'></div>

  <modal>
    <h2>User not found!</h2>
    <p>Could not find that User :-(</p>
    <a class="close" href='#'>✖︎</a>
  </modal>

  <template id='profile-template'>
    <div class="profile">
      <img src='{{ avatar_url }}' width="100" heigth="100">

      <p>{{ login }}</p>

      <p>{{ public_repos }}</p>

      <p>{{ followers }}</p>



      <a class="close" href='#'>✖︎</a>
      <br clear="all">
      <p>Repositories:</p>
    </div>
  </template>

  <template id='newProfile-template'>
    <p> {{ name }}: {{ length }} </p>
  </template>

  <template id='rateLimit-template'>
     rate limit: {{ rate.limit }}
          remaining: {{ rate.remaining}}
  </template>

  <script>
  function addProfileFromUsername(username){
    $('.spinner').show();
    $.get('https://api.github.com/users/'+ username + "?access_token=58048cf3a81631b05c6e5053f89a57bf12e813a8",function(user){
      var newProfile = Mustache.render($('#profile-template').html(), user);
      $('.profile-container').prepend(newProfile).slideDown();
      $('modal').removeClass('shown');
    }).error(function(){
      $('modal').addClass('shown');
    }).always(function(){
      $('#username').val('');
      $('.spinner').hide();
    });
  }


var objectAssign = function(object, key, value){
    object[key] = value;
}

  function parsingRepo(username) {
    $.get('https://api.github.com/search/repositories?q=user:'+ username + "&access_token=58048cf3a81631b05c6e5053f89a57bf12e813a8")
      .done(function(response) {
        total = response.items.length
        $.each(response.items, function printRepository(i, repo) {
          $.get('https://api.github.com/repos/'+ username + '/' + repo.name + "/commits?access_token=58048cf3a81631b05c6e5053f89a57bf12e813a8")
            .done(function(commitsArray) {
              objectAssign(repo, 'length', commitsArray.length)
              var newProfile = Mustache.render($('#newProfile-template').html(), repo);
              $('.profile:first-child').append(newProfile);
            });
         });
       })
  }

  function rateLimit() {
    $.get('https://api.github.com/rate_limit?access_token=58048cf3a81631b05c6e5053f89a57bf12e813a8').done(function(rateLimit){
      var newProfile = Mustache.render($('#rateLimit-template').html(), rateLimit);
      // $('.rate_limit').remove();
      $('.rate_limit').text(newProfile);
    });
  }

  $(document).ready(function() {

    $('#userForm').on("submit", function(event) {
      event.preventDefault();
      addProfileFromUsername($('#username').val());
      // stats($('#username').val());
      parsingRepo($('#username').val());
      rateLimit();
    });

    $('.profile-container').on('click', '.close', function(){
      $(this).closest('.profile').slideUp(function(){
        $(this).remove();
      });
    });

    $('modal').on('click', '.close',function(){
      $('modal').removeClass('shown');
    })

  });
  </script>


</body>
</html>
