<!DOCTYPE html>
<html>
<head>
  <title></title>
</head>
<body>
  <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.8.1/mustache.js'></script>

  <form id="userForm">
    <input type="text" placeholder="Enter Github Username" id="username">
    <input type="submit" value="Load User">
  </form>

  <div class="profile-container"></div>

  <template id='profile-template'>
    <div class="profile">
      <img src='{{ avatar_url }}'>

      <p >{{ login }}</p>

      <p >{{ public_repos }}</p>

      <p >{{ followers }}</p>

      <a class="close" href='#'>✖︎</a>
      <br clear="all">
    </div>
  </template>

  <script>
  function addProfileFromUsername(username){
    $.get('https://api.github.com/users/'+ username + "?access_token=58048cf3a81631b05c6e5053f89a57bf12e813a8",function(user){
      var newProfile = Mustache.render($('#profile-template').html(), user);
      $('.profile-container').prepend(newProfile).slideDown();
    }).error(function(){
      alert('Cannot find ' + username);
    }).always({
      $('#username').val('');
    });
  };

  $(document).ready(function() {
    $('#userForm').on("submit", function(event) {
      event.preventDefault();
      addProfileFromUsername($('#username').val());
    });
    $('.profile-container').on('click', '.close', function(){
      $(this).closest('.profile').slideUp(function(){
        $(this).remove();
      });
    });
  });
  </script>


</body>
</html>
