.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  display: none;
  height: 50px;
  width: 50px;
}

modal {
  position: absolute;
  width: 40%;
  height: 40%;
  border-radius: 20px;
  border: solid 1px #ccc;
  background: #eee;
  text-align: center;
  top: 30%;
  left: 30%;
  font-family: Helvetica Neue;

  transition: all 1s ease;
  opacity: 0;
  -webkit-transform: scale(0.75);

}

modal.shown {
  display: block;
  opacity: 1;
  -webkit-transform: scale(1);
}

.rate_limit {
  position: fixed;
  left: 40%;
  /*align: middle;*/
}
